.qui-inputAutocomplete {
	position: absolute;
	z-index: 1100;
	background-color: #fff;
	border: 1px solid #eee
}
.qui-inputAutocomplete-ul li {
	height: 32px;
	line-height: 32px;
	border-bottom: solid 1px #eee;
	background-color: #fff;
	cursor: pointer;
	word-break: keep-all;
	text-overflow: ellipsis;
	overflow: hidden
}
.qui-inputAutocomplete-ul li:hover,
.qui-inputAutocomplete-ul li[data-select=true] {
	background-color: #e0f1de
}
.qui-inputAutocomplete-ul li.disableDefalut {
	background-color: #fff!important;
	cursor: default
}
.qui-inputAutocomplete-noResult {
	color: red
}
.qyer_inputAutocomplete_name {
	padding: 0 5px 0 10px
}
.qyer_inputAutocomplete_name .current {
	color: #077345
}
.qyer_inputAutocomplete_en {
	padding-right: 10px;
	font-family: Tahoma, Geneva, sans-serif
}
.qyer_inputAutocomplete_found {
	color: #959595;
	padding-right: 10px
}
.qyer_inputAutocomplete_creat {
	padding: 10px
}