.ui_page {
	float: right;
	font-size: 14px
}
.ui_page_item {
	display: inline-block;
	padding: 0 7px;
	vertical-align: middle;
	font-size: 14px;
	line-height: 24px;
	color: #636363
}
.ui_page_item:hover {
	background: #ececec;
	text-decoration: none;
	color: #323232
}
.ui_page_item_current,
.ui_page_item_current:hover {
	padding: 0 12px;
	background: #00b081;
	color: #fff
}
.ui_page_next,
.ui_page_prev {
	font-size: 14px;
	color: silver
}
.ui_page_item.ui_page_next:hover,
.ui_page_item.ui_page_prev:hover {
	color: #636363;
	background: none
}
.ui_page.load {
	position: relative
}
.ui_page.load:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	background-color: hsla(0, 0%, 100%, .7)
}
.order-user-info {
	width: 100%;
	border: 1px solid #e0e0e0;
	margin-top: 30px;
	padding: 0 0 12px 28px;
	white-space: nowrap;
	font-size: 0
}
.order-user-info .user-info-left {
	width: 505px;
	padding-top: 15px;
	display: inline-block
}
.order-user-info .user-info-left .head-link {
	display: inline-block;
	vertical-align: middle
}
.order-user-info .user-info-left .user-head-pic {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	height: 80px;
	border-radius: 50%
}
.order-user-info .user-info-left .user-head-info {
	font-size: 14px;
	color: #959595;
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px
}
.order-user-info .user-info-left .user-head-info .user-head-name {
	font-size: 20px;
	color: #323232
}
.order-user-info .user-info-left .user-head-info .user-head-gender {
	margin-top: 5px
}
.order-user-info .user-info-left .user-head-info .user-head-lv {
	margin-top: 2px
}
.order-user-info .user-info-left .user-head-info .user-head-lv span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-right: 20px
}
.order-user-info .user-info-left .user-head-info .user-head-lv span.first {
	padding-right: 20px;
	border-right: 1px solid #ececec
}
.order-user-info .user-info-left .user-head-info .user-head-lv span i {
	color: #00b081;
	font-style: normal;
	margin-left: 10px
}
.order-user-info .user-info-right {
	display: inline-block;
	vertical-align: top;
	width: 625px;
	padding-left: 47px;
	height: 48px;
	line-height: 48px;
	background: #fafafa;
	border-bottom: 1px solid #e0e0e0;
	position: relative
}
.order-user-info .user-info-right .user-nav {
	width: 100%;
	height: 48px
}
.order-user-info .user-info-right .user-nav .user-nav-cell {
	display: inline-block;
	width: 25%;
	text-align: center;
	font-size: 16px;
	color: #636363
}
.order-user-info .user-info-right .user-nav .user-nav-cell a {
	display: inline-block;
	height: 47px
}
.order-user-info .user-info-right .user-nav .user-nav-cell.active {
	color: #00b081;
	font-weight: 700
}
.order-user-info .user-info-right .user-nav .user-nav-cell.active a {
	border-bottom: 2px solid #00b081
}
.order-user-info .user-info-right:before {
	display: block;
	content: " ";
	position: absolute;
	z-index: 1;
	top: 0;
	left: -48px;
	width: 0;
	height: 0;
	border-top: 48px solid #ebebeb;
	border-left: 48px solid transparent
}
.order-user-info .user-info-right:after {
	display: block;
	content: " ";
	position: absolute;
	z-index: 1;
	top: 0;
	left: -46px;
	width: 0;
	height: 0;
	border-top: 47px solid #fafafa;
	border-left: 47px solid transparent
}
body {
	background-color: #fff
}
a {
	color: inherit
}
a,
a:hover {
	text-decoration: none
}
.order-list {
	width: 1160px;
	min-width: 1160px;
	margin: 0 auto
}
.order-list * {
	box-sizing: border-box
}
.order-user-info {
	width: 100%;
	border: 1px solid #e0e0e0;
	margin-top: 30px;
	padding: 0 0 12px 28px;
	white-space: nowrap;
	font-size: 0
}
.order-user-info .user-info-left {
	width: 505px;
	padding-top: 15px;
	display: inline-block
}
.order-user-info .user-info-left .head-link {
	display: inline-block;
	vertical-align: middle
}
.order-user-info .user-info-left .user-head-pic {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	height: 80px;
	border-radius: 50%
}
.order-user-info .user-info-left .user-head-info {
	font-size: 14px;
	color: #959595;
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px
}
.order-user-info .user-info-left .user-head-info .user-head-name {
	font-size: 20px;
	color: #323232
}
.order-user-info .user-info-left .user-head-info .user-head-gender {
	margin-top: 5px
}
.order-user-info .user-info-left .user-head-info .user-head-lv {
	margin-top: 2px
}
.order-user-info .user-info-left .user-head-info .user-head-lv span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-right: 20px
}
.order-user-info .user-info-left .user-head-info .user-head-lv span.first {
	padding-right: 20px;
	border-right: 1px solid #ececec
}
.order-user-info .user-info-left .user-head-info .user-head-lv span i {
	color: #00b081;
	font-style: normal;
	margin-left: 10px
}
.order-user-info .user-info-right {
	display: inline-block;
	vertical-align: top;
	width: 625px;
	padding-left: 47px;
	height: 48px;
	line-height: 48px;
	background: #fafafa;
	border-bottom: 1px solid #e0e0e0;
	position: relative
}
.order-user-info .user-info-right .user-nav {
	width: 100%;
	height: 48px
}
.order-user-info .user-info-right .user-nav .user-nav-cell {
	display: inline-block;
	width: 25%;
	text-align: center;
	font-size: 16px;
	color: #636363
}
.order-user-info .user-info-right .user-nav .user-nav-cell a {
	display: inline-block;
	height: 47px
}
.order-user-info .user-info-right .user-nav .user-nav-cell.active {
	color: #00b081;
	font-weight: 700
}
.order-user-info .user-info-right .user-nav .user-nav-cell.active a {
	border-bottom: 2px solid #00b081
}
.order-user-info .user-info-right:before {
	display: block;
	content: " ";
	position: absolute;
	z-index: 1;
	top: 0;
	left: -48px;
	width: 0;
	height: 0;
	border-top: 48px solid #ebebeb;
	border-left: 48px solid transparent
}
.order-user-info .user-info-right:after {
	display: block;
	content: " ";
	position: absolute;
	z-index: 1;
	top: 0;
	left: -46px;
	width: 0;
	height: 0;
	border-top: 47px solid #fafafa;
	border-left: 47px solid transparent
}
.order-nav {
	margin-top: 30px;
	font-size: 0
}
.order-nav .order-nav-cell {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	color: #999;
	padding: 0 30px;
	border-right: 1px solid #e0e0e0
}
.order-nav .order-nav-cell.active {
	font-weight: 700;
	color: #00b081
}
.order-list-unit {
	margin-top: 30px;
	font-size: 0
}
.order-list-unit .li-cell1 {
	width: 220px
}
.order-list-unit .li-cell2 {
	width: 131px;
	padding: 0 10px
}
.order-list-unit .li-cell3 {
	width: 117px;
	padding: 0 10px
}
.order-list-unit .li-cell4 {
	width: 152px
}
.order-list-unit .li-cell5 {
	width: 90px
}
.order-list-unit .li-cell6 {
	width: 142px
}
.order-list-unit .li-cell7 {
	width: 137px
}
.order-list-unit .li-cell8 {
	width: 169px
}
.order-list-unit .order-list-title {
	background: #ebebeb;
	height: 50px
}
.order-list-unit .order-list-title .li-cell {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #666;
	text-align: center
}
.order-list-unit .order-list-line {
	margin-top: 32px;
	border: 1px solid #e0e0e0
}
.order-list-unit .order-list-line:hover {
	box-shadow: 0 0 5px -1px rgba(0, 0, 0, .3)
}
.order-list-unit .order-list-line .order-list-line-head {
	border-bottom: 1px solid #e0e0e0;
	background: #fafafa
}
.order-list-unit .order-list-line .order-list-line-head .order-list-line-head-cell {
	display: inline-block;
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	color: #959595;
	padding: 0 25px
}
.order-list-unit .order-list-line .order-list-line-head .order-list-line-head-cell.order-num {
	color: #00b081
}
.order-list-unit .order-list-line .order-list-line-body {
	padding: 30px 0;
	display: table
}
.order-list-unit .order-list-line .order-list-line-body .order-list-line-body-cell {
	font-size: 14px;
	line-height: 20px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #636363;
	border-right: 1px solid #ececec;
	word-break: break-all;
	word-wrap: break-word
}
.order-list-unit .order-list-line .order-list-line-body .order-list-line-body-cell.li-cell1,
.order-list-unit .order-list-line .order-list-line-body .order-list-line-body-cell.li-cell4,
.order-list-unit .order-list-line .order-list-line-body .order-list-line-body-cell.li-cell6 {
	text-align: left;
	padding: 0 25px
}
.order-list-unit .order-list-line .order-list-line-body .order-list-line-body-cell.li-cell1 a:hover {
	text-decoration: underline
}
.order-list-unit .order-list-line .order-list-line-body .order-list-line-body-cell.li-cell6 {
	text-align: left;
	padding: 0 0 0 35px
}
.order-list-unit .order-list-line .order-list-line-body .order-list-line-body-cell.li-cell8 {
	border-right: none
}
.order-list-unit .order-list-line .order-list-line-body .order-list-line-body-cell.li-cell8 a {
	display: block;
	width: 85px;
	height: 24px;
	line-height: 24px;
	margin: 0 auto;
	color: #00b081;
	cursor: pointer
}
.order-list-unit .order-list-line .order-list-line-body .order-list-line-body-cell.li-cell8 a.go-pay {
	height: 28px;
	line-height: 28px;
	margin-bottom: 4px;
	color: #fff;
	background: #ff7466
}
.order-list-unit .order-list-line .order-list-line-body .order-list-line-body-cell.li-cell8 a.append-info,
.order-list-unit .order-list-line .order-list-line-body .order-list-line-body-cell.li-cell8 a.supplement-info {
	height: 28px;
	line-height: 28px;
	margin-bottom: 4px;
	color: #fff;
	background: #00b081
}
.order-list-unit .order-list-line .order-list-line-body .order-list-line-body-cell p span {
	display: block
}
.order-list-unit .order-list-line .order-list-line-body .order-list-line-body-cell p.deduction {
	color: #ff7466;
	font-size: 12px
}
.order-list-unit .order-list-line .order-list-line-body .order-list-line-body-cell p.state-wait {
	color: #ff7466
}
.order-list-unit .order-list-line .order-list-line-body .order-list-line-body-cell p.state-sp .state-sp-subtit {
	font-size: 12px;
	color: #bbb
}
.pager-wrap {
	margin: 25px 0 50px
}